$colorText: white;
$colorTextWhite: #f7f7f7;
$colorButton: #009ee0;
$colorTextAdditional: black;
$colorLink: #858585;
$primaryColor: #009ee0;
$colorIcons: #eeeeee;
$colorError: #f44336;
$colorTextInfo : #4d4d4d;

$color-grey-light: #eeeeee;
$color-greyish-brown: #4d4d4d;
$color-purple: #84197b;
$color-magenta: #c7007b;
$color-blue-light: #009ee0;
$color-blue-dark: #003f90;
$color-grey-dark: #858585;
$colorGreyBorder: #adadad;

$colorYellow: #ffc300;
$colorBorder: #e6e6e6;
$colorSuccess: #00c557;
$colorEchec: #e20606;
$colorNotifications: #c7007b;